h1{
    text-align: center;
    color: white;
}

#pokemonList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    
}

.pokemonHolder{
    display: flex;
    justify-content: space-between;
    background-color: #c54141;
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    border-radius: 2rem;
    box-shadow: 0px 0px 15px black;

    text-align: left;
}

img{
    width: 150px;
}