body{
  background-image: url(./Images/Poké_Ball.png);
  background-attachment: fixed;
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(180, 179, 179);
}

nav{
  background-color: #c54141;
  padding: 2rem;
}

ul{
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 80px;
  color: white;
  list-style: none;
}

.navLink{
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.navLink:hover{
  color: rgb(141, 141, 141);
}